* {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Inter", serif;
}

nav {
  background: white;
  border-bottom: 2px solid rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}

nav.dark {
  background-color: #21222A;
}

.nav-logo{
  display: flex;
  padding: 20px 20px 20px 40px;
  color: #61DAFB;
  align-items: center;
}

.nav-logo h2 {
  font-size: 22px;
}

.nav-img {
  width: 35px;
  height: 35px;
  margin-right: 10%;
}

.nav-project-title {
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 20px 40px 20px 20px;
}

.main-section {
  background: white;
  background-image: url(../assets/reactjs-icon_lighter.png);
  background-repeat: no-repeat;
  background-position: right 170px;
  padding: 2%;
  color: #2B283A;
  height: 100vh;
}

.main-section.dark {
  background: #282D35;
  background-image: url(../assets/react-icon-2.png);
  background-repeat: no-repeat;
  background-position: right 170px;
  color: white;
}

.main-section-title {
  font-size: 39px;
}

ul > li {
  padding: 1%;
}

ul > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 15px;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}
